
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 80vh;
    width: 90%;
}
/* .h2{
    display: flex;
    /* justify-content:flex-start; */
    /* margin:18rem;
    margin-left: 20rem;
    font-size: 10rem;
}
.speaker{
    display: flex;
} */
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}
.h2{
    font-size: 10rem;
    margin-left: 10rem;
}
.speaker{
    margin-right: 10rem;
}
.price{
    display: flex;
    justify-content: end;
    margin-top: 10rem;
    margin-right: 4rem;
}
div ul li{
    list-style: none;
    margin-right: 40rem;
}
div ul{
    margin-top: 25rem;
    /* margin-right: 10rem; */
}